@* 
    Component for displaying an actor profile
*@
<div class="actor-profile">
    <h3>Actor Profile</h3>
    @* TODO: Implement actor profile display *@
</div>

@code {
    [Parameter]
    public string? Username { get; set; }
    
    // TODO: Add logic
}
